/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap'); */


/* bootstrap info color #17a2b8 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Open Sans', sans-serif; */
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

/* .container {
  padding-right: 15px;
  padding-left: 15px;
} */

@media (min-width: 576px) {
  .container {
    max-width: unset;
  }
}






