@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: inherit;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* @media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */
/* @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */

/* HEADER */

nav {
  display: flex;
  justify-content: center;
  height: 55px;
  position: fixed;
  width: 100%;
  background: white;
  
}

#navBar {
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 750px;
  justify-content: space-between;
  align-content: center;
}

#logo {
  padding-left: 15px;
  display: flex;
  align-self: center;
  align-content: center;

}

#title {
  align-self: center;
  padding-left: 5px;
  text-decoration: none;
  color: #222222;
  font-weight: 600; 
  font-size: 1.04rem;
}

#headerList {
  margin: 0;
  align-self: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 15px;
}

.headerListItem {
  color: #222222;
  font-weight: 500;
  font-size: 1.02rem;
  padding: 10px;

}

/* FEATURED */
#construction {
  background: #222222;
  padding-top: 110px;
  height: 400px;
  text-align: center;
  font-size: 2rem;
  color: white;
}

#construction p {
  text-align: center;
  max-width: 70%;
  margin: auto;
}

.fa-hammer {
  color: white;
}

#maintenance {
  padding: 30px 0 30px;
}


/* PROJECT LIST */
table {
  width:100%;
}

#projectListTitle {
  text-align: center;
  padding: 25px 0 15px 0;
  color: #222222;
}

.tableRow {
  display: flex;
  flex-direction: row;
  
}

.iconTitle {
  display: flex;
  flex-direction: row;
}

#projectListBtn {
  text-align: center;
  padding-bottom: 25px;
}

#projectComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 10px 0 10px 0;
  border-bottom: #cccccc solid 1px;
}

#projectComponentDesc {
  color: #808080;
  font-size: 0.85rem;
}

#projectComponentTitle {
  font-weight: 700;
  font-size: 1.25rem;
}

#projectComponentIconTitle {
  display: flex;
  flex-direction: row;
}

#projectComponentIcon {
  align-self: center;
  padding-right: 8px;
}

#projectBtn {
  align-self: center;
}


/* CONTACT DETAILS */
#contactDetails {
  margin-top: 25px;
  padding-top: 100px;
  display: block;
  background: #222222;
  color: white;
  height: 200px;
  text-align: center;
}


/* FOOTER */
.quickLinks {
  padding: 25px 0 25px;
  list-style: none;
  max-width: 450px;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

#smLinks {
  padding: 25px 0 25px;
  list-style: none;
  max-width: 300px;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}


/* ADMIN */
.admin {
  padding-top: 100px;
}
