.admin {
  padding-top: 100px;
}

#adminContainer{
  padding-top: 60px;
  width: 99%;
  margin: auto;
  margin-top: unset
}

.admin-nav {
  display: block;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 400;
  background: #222222;
  color: white;
}

.admin-title {
  margin-left: 25px;
}

.admin-list {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.admin-list-item {
  margin-right: 25px;
}