.article-title {
  padding-top: 70px;
  font-size: 3rem;
  font-weight: 700;
}

.article-date {
  padding-top: 25px
}

.article-tags {
  display: flex;
  flex-direction: row;
  padding: 10px 0 20px; 
}

.tag {
  margin-right: 10px;
  /* padding: 2px 8px;
  background: lightgray;
  border-radius: 3px; */
}

.article-wrapper:last-child {
  margin-bottom: 20px;
}

.article-p {
  padding-top: 25px;
  font-size: 1.1rem;
  color: #191919
}

.article-header {
  padding: 20px 0 10px;
  border-bottom: 2px solid #f1f4f8;
}

.article-body {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.article-img {
  margin: auto;
  max-width: 90%
}

.code-block {
  border-radius: .4rem;
  box-shadow: 1px 1px 10px #888888;
}

blockquote {
  background: rgba(255,229,100,0.3);
  padding: 20px;
  border-left: 10px solid #ffe564;
  margin: 20px 0 20px
}
 