.list-header {
  display: flex;
  align-items: center;
  border-bottom: 4px solid #f1f4f8;
  height: 70px;
  margin-top: 25px;
  margin-bottom: 10px
}

.project-btn {
  margin-top: 6px
}

.list-title {
  text-align: center;
  padding-right: 35px;
  color: #222222;
}

.article-link {
  display: flex;
}

.article-component {
  padding: 15px 0;
  align-content: center;
}

.article-component:hover {
  background: #f8f9fa;
  border-radius: 8px ;
}

.article-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.article-date {
  font-size: 0.9rem;
  font-weight: 200;
  align-self: center;
  padding-right: 15px;
}

/* .article-component:last-child {
  border-bottom: unset;
  padding-bottom: 20px;
} */