footer {
  background: #191919;
  width: 100%;
  margin-top: auto;
}

.quickLinks {
  padding: 25px 0 25px;
  list-style: none;
  max-width: 450px;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  color: white;
}

#smLinks {
  padding: 25px 0 25px;
  list-style: none;
  max-width: 300px;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

.fa-twitter, .fa-linkedin, .fa-instagram, .fa-github {
  color: white;
}