/* PROJECT LIST */

#project-list-header {
  display: flex;
  align-items: center;
  border-bottom: 4px solid #f1f4f8;
  max-height: 70px;
  margin-top: 20px
}

.project-btn {
  margin-top: 6px
}

#projectListTitle {
  text-align: center;
  padding-right: 35px;
  color: #222222;
}

#projectListFullTitle {
  text-align: center;
  padding: 90px 0 15px 0;
  color: #222222;
}

#ProjectListEnd {
  padding: 25px 0;
}

.tableRow {
  display: flex;
  flex-direction: row;
}

.iconTitle {
  display: flex;
  flex-direction: row;
}

#projectComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 10px 0 10px 0;
  border-bottom: #f1f4f8 solid 2px;
}

.project-link {
  width: 100%;
}

.project-link:hover 
#projectComponentTitle  {
  border-bottom: #222222 2px solid;
}

#projectComponent:last-child {
  border-bottom: unset;
  padding-bottom: 20px;
}

#projectComponentDesc {
  color: #808080;
  font-size: 0.85rem;
}

#projectComponentTitle {
  font-weight: 700;
  font-size: 1.25rem;
  border-bottom: 2px solid transparent;
}

#projectComponentIconTitle {
  display: flex;
  flex-direction: row;
}

#projectComponentIcon {
  align-self: center;
  padding-right: 8px;
}

#projectComponentHeader {
  padding-right: 20px;
}

#projectBtn {
  align-self: center;
}

#project-list-btn {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}